.textcontrol > div > input {
    padding: 6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
}

.textcontrol > div > input:focus {
    border: 2px solid #00a0d2!important;
    box-shadow: none;
}

.togglecontrol > div {
    margin-bottom: 0px!important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}