.editor {
    margin: -16px;
    height: 65vh;
    width: 80vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    grid-template-rows: calc(65vh - 46px) 46px;
}

.cardheader {
    height: 56px;
    overflow: hidden;
    padding: 0 16px;
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e4e7;
}

.cardcontent {
    padding: 10px;
    width: calc(100% - 32px);
}

.cardactions {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: calc(100% - 32px);
}

.togglecontrol > div {
    margin-bottom: 0px!important;
    opacity: 0.5;
    pointer-events: none;
}

.fieldheader {
    font-size: 16px;
    border-bottom: 1px solid #e2e4e7;
    background: #fff;
    padding: 16px;
}

.fieldlist {
    padding: 16px 16px 0 16px;
    overflow-y: scroll;
    position: relative;
}