.textcontrol > div > input {
    padding: 6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
}

.textcontrol > div > input:focus {
    box-shadow: 0 0 0 2px #00a0d2!important;
}

.textareacontrol > div > textarea {
    padding: 6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
}

.textareacontrol > div > textarea:focus {
    box-shadow: 0 0 0 2px #00a0d2!important;
}

.togglecontrol {
    margin-bottom: 4px!important;
    margin-top: 4px!important;
}

.togglecontrol > div {
    margin-bottom: 4px!important;
    margin-top: 4px!important;
}